# ggt package
-e .

# PyPI packages
astropy
click
ignite
kornia
matplotlib
mlflow
numpy
pandas
pytest
schwimmbad
scikit_learn
scipy
setuptools
torch
torchvision
tqdm
xarray
flake8
pytest
black
pytorch-ignite
sphinx_rtd_theme
sphinx-copybutton