# ggt package
-e .

# PyPI packages
astropy
click
kornia
matplotlib
mlflow
myst_parser
numpy
pandas
pytest
schwimmbad
scikit_learn
scipy
setuptools
torch
torchvision
tqdm
xarray
flake8
black
pytorch-ignite
sphinx-autoapi
sphinx_rtd_theme
sphinx-copybutton